body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c6bad3, #2575fc);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cd1010;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #ff4757;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #fff;
}

th {
    background-color: rgba(255, 255, 255, 0.406);
}

td button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #1dd1a1;
}

td button:hover {
    background-color: #10ac84;
}

p {
    text-align: center;
}

a {
    color: #ff6b6b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}