version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: taskmanager-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: taskmanager
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: taskmanager-backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

volumes:
  mongo-data:
